@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Staatliches&display=swap');


body {
  font: 27px/1.4 'News Cycle', sans-serif;
  color: #333132;
}

h1 {
  font: 50px/2 'Staatliches', cursive;
  color: #ff665a;
  margin-top: 80px;
}

h2 {
  font: 27px/1 'News Cycle', sans-serif;
  color: #7D407D;
}

.footer-text {
  font: 20px/3 'Staatliches', cursive;
  text-transform: uppercase;
}
